<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
        <link rel="stylesheet" href="/static/stylesheets/styles.css" type="text/css">
        <title>Pigeon Voyageur</title>
    </head>
    <body>
        <div class="container">
            {% include "title-bar.html" %}
            <div class="form">
                <form action="/submit" method="post">
                    <div class="champs-valeur">
                        <label for="valeur">
                            <b>Message: </b>
                        </label><br/>
                        <textarea id="valeur" name="valeur" rows="10" cols="40" required placeholder="Entrer votre message..."></textarea><br/>
                    </div>

                    <label for="expiration">Date d'expiration:</label>
                    <input type="date" id="expiration" name="expiration" required/>

                    <input type="submit" value="Générer le lien"/>
                </form>
            </div>
        </div>
    </body>
</html>
