<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
        <link rel="stylesheet" href="/static/stylesheets/styles.css" type="text/css">
        <title>Pigeon Voyageur</title>
    </head>
    <body>
        <div class="container">
            <div class="title-bar">
                <h1>Pigeon Voyageur</h1>
            </div>
            <div class="link">
                <h2>Lien</h2>
                <div class="link-container" onclick="copyToClipboard()">
                    <p id="link">{{ link }}</p>
                </div>
            </div>
        </div>
        <script src="/static/scripts/message.js"></script>
    </body>
</html>
